<!DOCTYPE html>
<html>

<head>
	<title>Circle Chase</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Circle Chase">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="icon" type="image/png" sizes="192x192" href="asset/fav.png">
	<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="asset/fav.png">

	<script src="../require.js"></script>
	<script src="../game.js?v=<%= pkg.version %>"></script>
	<script src="../fpsmeter.js"></script>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
			margin: 0;
			overflow: hidden;
			background-color: black;
		}

		canvas {
			position: absolute;
			left: 0px;
			top: 0px;
		}
	</style>
	<script>
		require(["v0/Game"], function (start) {
			start.Game.init('circlechase', <%= gameOptions %>);
		});
	</script>
</head>

<body></body>

</html>